@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,600;0,700;0,800;1,800&display=swap');

body {
    margin: 0;
    font-family: 'Karla', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111827;
    color: white;
}

main {
    display: flex;
}

.header {
    font-weight: 800;
    font-size: 3em;
    line-height: 0.9;
    margin-bottom: 0;
}

.random-pass {
    color: #10B981;
}

.description {
    font-weight: 400;
    font-size: 1.3em;
    margin: 1em 0 4em;
}

.header-photo {
    width: 40em;
    border-radius: 5%;
}

.generate-btn {
    color: white;
    text-shadow: 0px 0px 15px black;
    font-weight: 600;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #10b98187;
    transition: 0.3s;
}

.generate-btn:hover {
    background-color: #10B981;
    cursor: pointer;
}

.button-wrapper {    
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid #9ca3af2a;
}

.pass-box {
    text-align: center;
    width: auto;
    margin-right: 1em;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #273549;
    color: #10B981;
}

.pass-box-container {
    display: flex;
    margin-bottom: 1em;
}

.copy-btn {
    color: white;
    background-color: #273549;
    border: none;
    padding: 0.8em 1.2em;
    border-radius: 5px;
    opacity: 0.7;
    transition: 0.3s;
}

.copy-btn:hover {
    opacity: 1;
    cursor: pointer;
}

.main-wrapper {
    margin: 0 0 0 5em;
}

.slider-container {
    display: flex;
    align-items: center;
    margin-bottom: 1.5em;
  }

.password-length {
    margin-right: 1em;
}
  
.slider {
    -webkit-appearance: none;
    height: 10px;
    border-radius: 5px;
    background: white;
    outline: none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #10B981;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #10B981;
    cursor: pointer;
}

.symbols-checkbox {
    margin-bottom: 1em;
}

.checkbox {
    margin-left: 1.1em;
    height: 1em;
    width: 1em;
    border: 1px solid green;
    border-radius: 5px;
}

@media screen and (max-width: 800px) {
    main {
        display: flex;
        flex-direction: column-reverse;
    }

    .main-wrapper {
        margin: 0 0 0 5em;
    }

    .header-photo {
        width: 20em;
    }
}